body {
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-size: cover;
    color: white;
}

.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  .leftcolumn { 
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
    .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .jumbotron{
      margin-top: 20px;
      background-size: cover;
      color: white;
  }

  #userStory {
      border: 10px solid grey;
      width:100%;
      height: 100px;
      font-size: 24px;
      color: #5B86E5;
  }

.storyDiv {
    margin-top: 2%;
    border-bottom: 5px solid #5B86E5;
}

.jobId {
    border: 2px solid#48bedc;
    border-radius: 5px;
    background: #5B86E5;
    padding:10px;
    margin: 10px;
    font-size: 20px;
    color:white;
}

#pickJobDisplay {
    border: 8px solid #5B86E5;
    border-radius: 5px;
    background: white;
    margin:5%;
    text-align: center;
}

.panel-heading{
    text-align: center;
    font-size: 24px;
}

.panel-body {
    margin-bottom: 5%;
}

#jobTitleHeading {
    color:  #5B86E5;
}

.signupform {
    background: white;
    padding:5%;
    margin-top: 10%;
}

#logo {
    max-width: 500px;
    max-height: 200px;
    display:block;
    margin:auto;
}

#counter {
    font-size: 18px;
}

#heading {
    max-width: 90%;
    background-color: white;
    border: 2px solid #5B86E5;
    border-radius: 5px;
}

#mainInfo {
    display:block;
    background-color: white;
    border: 2px solid #5B86E5;
    border-radius: 5px;
    max-width: 90%;
    margin-bottom: 3%;
}

#mainText {
    margin: 5%;
    font-size: 18px;
    color: #5B86E5;
}

#storyBtns {
    font-size: 28px;
    border: 2px solid #5B86E5;
    border-radius: 5px;
    margin-bottom: 3%;
    margin: 0px auto;
    display:table;
}

.inline-buttons {
    text-align: center;
}

#heading {
    margin-bottom: 3%;
}

#otherImg {
    max-width: 100%;
    float: right;
}

#mainInfoRow {
    margin-bottom: 5%;
}

#hcRow {
    display: inline-flex;
    margin:auto;
}

#coldCount,#hotCount {
    max-width: 35px;
    max-height: 35px;
}


.content {
    padding-top: 30px;
}
/* Heading */
.heading {
    z-index: 1;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}
.heading:after {
    left: 50%;
    height: 3px;
    width: 50px;
    content: " ";
    bottom: -35px;
    margin-left: -25px;
    position: absolute;
    background: #444;
}
.heading h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 20px;
    color: #444;
}
.heading p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: black;
}
/* Team Members */
.team-members {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px;
}
.team-members .team-avatar {
    position: relative;
}
.team-members .team-avatar:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(129, 129, 129, 0.1);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.team-members .team-avatar img {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.team-members .team-desc {
    left: auto;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.team-members .team-desc h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px;
    color: #fff;
}
.team-members .team-desc span {
    display: block;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.team-members:hover .team-avatar:after {
    background: rgba(47, 60, 72, 0.5);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.team-members:hover .team-desc {
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
}
.team-members:hover .team-desc {
    opacity: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}