body {
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-size: cover;
    color: white;
}

.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  .leftcolumn { 
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
    .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .jumbotron{
      margin-top: 20px;
      background-size: cover;
      color: white;
  }

  #userStory {
      border: 10px solid grey;
      width:100%;
      height: 100px;
      font-size: 24px;
      color: #5B86E5;
  }

.storyDiv {
    margin-top: 2%;
    border-bottom: 5px solid #5B86E5;
}

.jobId {
    border: 2px solid#48bedc;
    border-radius: 5px;
    background: #5B86E5;
    padding:10px;
    margin: 10px;
    font-size: 24px;
    color:white;
}

#pickJobDisplay {
    border: 8px solid #5B86E5;
    border-radius: 5px;
    background: white;
    margin:5%;
    text-align: center;
}

.panel-heading{
    text-align: center;
    font-size: 24px;
}

.panel-body {
    margin-bottom: 5%;
}

#jobTitleHeading {
    color:  #5B86E5;
}

.signupform {
    background: white;
    padding:5%;
    margin-top: 10%;
}

#logo {
    max-width: 500px;
    max-height: 200px;
    display:block;
    margin:auto;
}

#heading {
    max-width: 90%;
    background-color: white;
    border: 2px solid #5B86E5;
    border-radius: 5px;
}

#mainInfo {
    display:block;
    background-color: white;
    border: 2px solid #5B86E5;
    border-radius: 5px;
    max-width: 90%;
    margin-bottom: 3%;
}

#mainText {
    margin: 5%;
    font-size: 18px;
    color: #36D1DC;
}

#diveBtn, #tellBtn {
    display: block;
    margin:auto;
    font-size: 36px;
    border: 2px solid #5B86E5;
    border-radius: 5px;
    margin-bottom: 3%;
}

#heading {
    margin-bottom: 3%;
}

#otherImg {
    max-width: 100%;
    float: right;
}

#mainInfoRow {
    margin-bottom: 5%;
}

h2 {
    font-family: Harlow Solid Italic,
}